<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Spandana webpage</title>
    <link rel ="stylesheet" href="Style.css" >
</head>
<body>
    <header>
        <div class ="main">
            <ul>
                <li> <a href = "active" >home</a></li>
                <li> <a href = "#" >About</a></li>
                <li> <a href  = "#" >Contact us</a></li>
                <li> <a href =  "#">Pizza</a></li>
                <li> <a href = "#" >Burger</a></li>
                <li> <a href  = "#" >Pasta</a></li>
                <li> <a href = "#" >Salad</a></li>
                <li> <a href  = "#" >Ragijawa</a></li>
                <li> <a href = "#" >Morerecipes</a></li>
                




            </ul>

        </div>
    </header>
    
</body>
</html>